body {
    font-family: 'Wix Madefor Display', sans-serif;
}

.dark--wrapper {
    background-color: var(--background-accent);
    color: var( --font-light);
}

.bckgrnd-img--wrapper {
background-image: url(./assets/images/background-pink.jpeg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
min-height: 280px;
}

.light--wrapper {
    background-color: var(--background-secondary);
}
