body,
input {
    font-family: 'Wix Madefor Display', sans-serif;
}

a {
    color: var(--font-dark);
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

/* header */
/* .header-wrapper--shadow{
    box-shadow: 0px 5px 5px 0px rgba(214,214,214,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(214,214,214,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(214,214,214,0.75);
} */

.logo {
    font-size: var(--heading-secondary-s);
    font-weight: var(--font-weight-bold);
}

.nav__list,
.header__acc {
    display: none;
}

/* ask section */
.ask-wrapper--title {
    font-size: var(--heading-primary-s);
}

.ask-wrapper--subtitle {
    font-size: var(--font-content-l);
    margin: 6px 0 24px;
}

.dark--wrapper {
    background-color: var(--background-accent);
    color: var(--font-light);
}

.ask-wrapper__label {
    position: relative;
    width: 100%;
}

.ask-wrapper__label:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 25%;
    bottom: 0;
    width: 20px;
    background: url(./assets/svg/find.svg);
    background-repeat: no-repeat;
}

.ask-wrapper__input {
    width: 100%;
    height: 58px;
    padding-left: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    font-size: var(--font-content-l)
}

.ask-wrapper__input::placeholder {
    color: var(--font-input);
    font-size: var(--font-content-l);
}

.ask-wrapper__input:focus {
    border: 1px solid var(--input-active-border);
    outline: 5px solid var(--input-active-outline);
}


/* categories section */
.categories-article-list,
.categories-article__show-all {
    display: none;
}

.categories-article__link {
    pointer-events: none;
    color: var(--font-medium);
    font-size: var(--heading-article);
    font-weight: var(--font-weight-bold);
    border-bottom: 1px solid var(--border);
}

/* new product section */
.new-product__title--wrap {
    font-size: var(--heading-secondary-s);
    text-align: center;
}

.new-product__subtitle--wrap {
    padding: 14px 24px;
    line-height: 24px;
}

.new-product__button--wrap {
    padding: 10px 23px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--background-accent);
    text-transform: capitalize;
    color: var(--font-light);
    font-size: var(--font-content-l);
}

.new-product__button--wrap:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.bckgrnd-img--wrapper {
    background-image: url(./assets/images/background-pink.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* trending section */
.light--wrapper {
    background-color: var(--background-secondary);
}

.trending__title--wrap {
    font-size: var(--heading-secondary-s);
    margin: 24px 0;
}

.trending-wrapper__card--body {
    width: 100%;
    max-width: 336px;
    min-height: 247px;
    padding: 30px;
    background-color: var(--background-primary);
    border: 1px solid var(--border-light);
    border-radius: 8px;
}

.trending-wrapper__card--subtitle {
    font-size: var(--font-content-s);
    background-color: var(--background-secondary);
    padding: 3px 6px;
    border-radius: 5px;
}

.trending-wrapper__card--title {
    margin: 6px 0;
    font-size: var(--heading-article);
    color: var(--font-medium);
    line-height: 26px;
    font-weight: var(--font-weight-bold);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.trending-story--webkit {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: var(--font-content-m);
    line-height: 18px;
    color: var(--font-medium-light);
}

.trending__link {
    font-size: var(--font-content-m);
    color: var(--font-accent);
    cursor: pointer;
}

/* .trending__link:visited{
    color: var(--font-accent);
} */

.trending__link:hover {
    color: var(--font-hover);
}

.trending__link:focus {
    color: var(--font-focused);
}

/* more-pages section */
.address-wrapper--border {
    border-top: 1px solid var(--border);
}

.footer-pages__title {
    padding: 22px 0;
    pointer-events: none;
    font-size: var(--heading-article);
    font-weight: var(--font-weight-regular);
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unset--border-bottom {
    border-bottom: unset;
}

.footer-pages__list {
    display: none;
}

.about-us-wrapper {
    padding: 48px 0;
}

.about-us__content {
    margin: 18px 0;
    font-size: var(--font-content-m);
    color: var(--font-medium);
    line-height: 24px;
}

.about-us__link {
    display: none;
}

.policy-link,
.policy-copyright {
    font-size: var(--font-content-m);
}

@media (min-width: 768px) {

    /* ask section */
    .ask-wrapper--title {
        font-size: var(--heading-primary-l);
    }

    .ask-wrapper--subtitle {
        margin: 12px 0 42px;
    }

    .ask-wrapper__input {
        font-size: var(--font-content-lg)
    }

    .ask-wrapper__input::placeholder {
        font-size: var(--font-content-lg);
    }

    /* categories section */
    .categories-article-list,
    .categories-article__show-all {
        display: block;
    }

    .categories__arrow {
        display: none;
    }

    .categories-article__link {
        color: var(--font-medium);
        font-size: var(--heading-article);
        font-weight: var(--font-weight-bold);
        border-bottom: unset;
    }

    .categories-article:nth-of-type(2n-1) {
        border-right: 1px solid var(--border-light);
    }
    
    .categories-article {
        border-bottom: 1px solid var(--border-light);
    }

    .categories-article:nth-last-of-type(-n+2) {
        border-bottom: unset;
    }

    .categories-article-list__link{
        display: flex;
        align-items: center;
    }

    .categories-article-list__link > span{
        display: block;
        max-width: 100%;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        line-height: 29px;
    }    

    .categories-article-list__link > img{
        margin-right: 10px;
    }

    .categories-article__show-all{
        font-size: var( --font-content-l);
        color: var( --font-accent);
    }

    .categories-article__show-all:hover{
        color: var( --font-hover);
    }

    .categories-article__show-all:focus{
        color: var(--font-focused);
    }

    /* new product section */
    .new-product__title--no-wrap{
        display: none;
    }

    .new-product__title--wrap {
        font-size: var(--heading-secondary-l);
    }
    
    .new-product__button--wrap {
        margin-top: 29px;
    }


}

@media (min-width: 1440px) {}