body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

/* -------mobile first------- */
body {
    margin-top: 54px;
}

/* header */
.header-wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 54px;
    padding: 15px 24px;
    top: 0;
    background-color: var(--background-primary);
    z-index: 1;
}

.burger {
    margin-right: -5px;
}

/* ask section */
.ask-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

/* categories section */
.categories-wrapper {
    padding: 0 24px;
}

.categories-article__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

/* new product section */
.new-product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
}

/* trending section */
.trending-wrapper {
    width: 100%;
    padding: 0 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trending-wrapper__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    gap: 24px;
}

.trending-wrapper__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* more-pages section */

.more-pages {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 24px 48px;

}

/* address section */
.address-wrapper {
    padding: 30px 24px 54px;
}

.social-media-wrapper__list {
    display: flex;
    gap: 15px;
}

.policy-wrapper {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}