body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

/* -------mobile first------- */
body {
    margin-top: 54px;
}

/* header */
.header-wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 54px;
    padding: 15px 24px;
    top: 0;
    background-color: var(--background-primary);
    z-index: 1;
}

.burger {
    margin-right: -5px;
}

/* ask section */
.ask-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

/* categories section */
.categories-wrapper{
    padding: 0 24px;
}

.categories-article__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

/* new product section */
