body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

/* -------mobile first------- */
body {
    margin-top: 54px;
}

/* header */
.header-wrapper {
    position: fixed;
    width: 100%;
    height: 54px;
    padding: 15px 24px;
    top: 0;
    background-color: var(--background-primary);
    z-index: 1;
}

.header__logo-nav-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.burger {
    margin-right: -5px;
}

/* ask section */
.ask-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

/* categories section */
.categories-wrapper {
    padding: 0 24px;
}

.categories-article__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

/* new product section */
.new-product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
}

/* trending section */
.trending-wrapper {
    width: 100%;
    padding: 0 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trending-wrapper__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    gap: 24px;
}

.trending-wrapper__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* more-pages section */
.page-footer {
    display: flex;
    flex-direction: column;
}

.more-pages {
    margin: 0 30px 48px;
    order: 2;
}

.about-us-wrapper {
    margin: 0 30px;
}

.address-wrapper {
    padding: 30px 30px 0;
    order: 3;
}

.policy-wrapper {
    padding: 30px 30px 54px;
    order: 4;
}

.social-media-wrapper__list {
    display: flex;
    gap: 15px;
}

.policy-wrapper {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

@media (min-width: 768px) {

    /* header */
    body {
        margin-top: 72px;
    }

    .header-wrapper {
        height: 72px;
    }

    /* ask section */
    .ask-wrapper {
        padding: 72px 24px;
    }

    /* categories section */
    .categories-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 49px;
        padding: 0;
        overflow: hidden;
    }

    .categories-article--padding {
        padding: 30px;
    }

    .categories-article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        overflow: hidden;
    }

    /* trending section */
    .trending-wrapper {
        padding-bottom: 86px;
    }

    /* more-pages section */
    .more-pages {
        padding: 0 54px 54px;
    }

    .about-us-wrapper {
        order: 1;
        width: 80%;
        margin: 0 54px;
    }

    .more-pages {
        order: 3;
        margin: 0;
    }

    .address-wrapper {
        order: 2;
        padding-top: 0;
    }

    .policy-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .more-pages__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 54px;
    }
}

@media (min-width: 1024px) {

    /* header */
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-nav-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    /* categories section */
    .categories-section-wrapper {
        display: flex;
        justify-content: center;
    }

    .categories-wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1005px;
        overflow: hidden;
    }
}

@media (min-width: 1440px) {
    /* more-pages section */
    .more-pages__nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 54px;
        padding-top: 48px;
    }

    .page-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0 86px;
    }

    .more-pages {
        order: 1;
        grid-column: span 2;
    }

    .policy-wrapper {
        grid-column: span 2;
    }
}